.margin {
    margin: 15px;
}

.tabPane div div div div :global(.nav-link) {
    background-color: transparent !important;
}    

.tabPane div div div div :global(.active) {
    background-color: var(--greyLight) !important;
}

.tabPane div div div div a {
    color: black;
}

.buttonCol {
    display: flex;
    align-self: stretch;
    min-height: 100%;
    justify-content: center;
}

.button {
    align-self: center;
    margin-bottom: 6px;
}

.noMargin {
    margin: 0;
}

.photoInput {
    display: block;
}

.photoInput {
    display: none;
}