.div {
    margin: 36px;
}

.card {
    padding: 16px;
}

.button {
    margin-right: 16px;
}

.button:disabled:hover {
    background-color: var(--brown) !important;
}

.div ul li a {
    color: black;
}

.div ul li a:focus {
    box-shadow: none;
}

.customActive span {
    color: white !important;
    background-color: var(--brown) !important;
    border-color: var(--brown) !important;
}

.checked {
    display: flex;
    align-items: center;
}

.checked input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 0;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

.checked input[type='radio']:checked {
    background-color: var(--brown);
}