.answerIncorrect label {
    color: red !important;
}

.answerCorrect label {
    color: green !important;
}

.iconIncorrect {
    color: red;
}

.iconCorrect {
    color: green;
}

.margin {
    margin: 15px 15px 30px 15px;
}

.padding {
    padding: 15px;
}

.explanationTitle {
    margin-top: 60px;
}