.form {
    margin: 36px;
    display: flex;
    flex-direction: column;
    flex: 0 1 500px;
}

.formGroup {
    margin-top: 36px;
    margin-bottom: 36px;
}

.button {
    margin-top: 36px;
    margin-bottom: 36px;
    width: 100px;
    align-self: center;
}

.input {
    border-color: grey !important;
    box-shadow: none !important;
    text-align: center;
    padding-left: 36px;
}